/* Post Summary
---------------------------------------------------------------------------------------------------- */

.post-summary {
    margin-left: -1rem;
    margin-right: -1rem;
	margin-bottom: 1rem;
}

.post-summary__video {
    background-color: #000;
}

.post-summary__content {
    padding: .5rem 1rem;
}

.post-summary__title {
	font-size: 1rem;
	font-weight: 400;
	margin: 0;

	a {
        color: $white;
		text-decoration: none;

		&:hover {
            color: white;
		}
	}
}

.post-summary__image {
	display: block;
	@include media(">small") {
		margin-bottom: 12px;
	}
}

.entry-category {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 4px;

	a {
		color: $grey_8;
		text-decoration: none;

		&:hover {
			color: $highlight;
		}
	}
}
